<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="internalOnly" package="com.xamarin.samples.corpy" android:versionCode="1" android:versionName="1">
  <uses-sdk android:targetSdkVersion="8" />
  <application android:label="Corpy">
  </application>
  <uses-permission android:name="android.permission.CALL_PHONE" />
</manifest>